<h1>Multiscreen Example</h1>
<p>Example of a multiscreen interface.</p>
<form method="post" enctype="multipart/form-data">
  <input type="submit" name="_state" value="One" />
  <input type="submit" name="_state" value="Two" />
  <input type="submit" name="_state" value="Three" />
  _state: <!-- TMPL_VAR NAME="_state" -->
</form> 
<!-- vim: set ts=2 sw=2 expandtab: -->
